[submodule "gvm-tools"]
	path = gvm-tools
	branch=main
	url = git@github.com:greenbone/gvm-tools.git
[submodule "python-gvm"]
	path = python-gvm
	branch=main
	url = git@github.com:greenbone/python-gvm.git
[submodule "source-build/docs"]
	path = source-build/docs
	branch=main
	url = git@github.com:greenbone/docs.git
